/* Force hiding scrollbars globally */
html, body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
  overflow-y: scroll;        /* still allow scroll but hide bar */
}

/* Chrome, Safari and Opera */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}
